@model LibraryApp.Models.Prestamo

<h1>Creación - Prestamos</h1>

<h4>Prestamo</h4>
<hr />

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="LibroId" class="control-label"></label>
                <select asp-for="LibroId" class="form-control" asp-items="ViewBag.Libros">
                    <option value="">-- Selecciona un libro --</option>
                </select>
                <span asp-validation-for="LibroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estudiante" class="control-label"></label>
                <input asp-for="Estudiante" class="form-control" />
                <span asp-validation-for="Estudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPrestamo" class="control-label"></label>
                <input asp-for="FechaPrestamo" class="form-control" />
                <span asp-validation-for="FechaPrestamo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDevolucion" class="control-label"></label>
                <input asp-for="FechaDevolucion" class="form-control" />
                <span asp-validation-for="FechaDevolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}